<div class="display_info">
	<h4> All Chores </h4>

	<% if @chores.size > 0 %>
		<ul class="chore-list">
			<% @chores.each do |chore| %>
				<li> <%= link_to chore.description, chore_path(chore) %>
					<button class="js-more" data-id="<%= chore.id %>">More Info</button> 
					<div id="chore-<%= chore.id %>"></div>
				</li>
				
			<% end %>
		</ul>
	<% else %>
		<p>No Chores Exist.</p>
	<% end %>
</div>

<footer class="bg-dark">
	<%= link_to "Add a Chore", new_chore_path %>
</footer>
