<div class="display_info">
	<h4> <%=@chore_index_header%> </h4>

	<ul>
		<% @chores.each do |chore| %>
			<li><%= link_to chore.description, chore_path(chore)  %></li>
		<% end %>
	</ul>
</div>

<footer class="bg-dark">
	<%= link_to "Add a Chore", new_chore_path %>
</footer>

