<div class="display_info">
	<h4> All Chores </h4>

	<% if @chores.size > 0 %>
		<% render "chore_li" %>
	<% else %>
		<p>No Chores Exist.</p>
	<% end %>
</div>

<footer class="bg-dark">
	<%= link_to "Add a Chore", new_chore_path %>
</footer>


<script id="chores-template" type="text/x-handlebars-template">
	<li><a href="/chores/{{id}}">{{description}}</a> ({{household_name}}, {{point_value}} Points) </li>
</script>
