<div class="display_info">
	<h4> All Chores </h4>

	<% if @chores.size > 0 %>
		<ul>
			<% @chores.each do |chore| %>
				<li><%= link_to chore.description, chore_path(chore) %> (<%= chore.household.name %>, <%= chore.point_value %> Points) </li>
			<% end %>
		</ul>
	<% else %>
		<p>No Chores Exist.</p>
	<% end %>
</div>

<footer class="bg-dark">
	<%= link_to "Add a Chore", new_chore_path %>
</footer>

