<div class="display_info">
	<h4> <%=@household_index_header%> </h4>

	<% if @households.size > 0 %>
		<ul>
			<% @households.each do |household| %>
				<li><%= link_to household.name, household_path(household)  %></li>
			<% end %>
		</ul>
	<% else %>
		<p>No Households Exist.</p>
	<% end %>
</div>

<footer class="bg-dark">
	<%= link_to "Add a Household", new_household_path %>
</footer>