<div class="display_info">
	<h4> <%=@household_index_header%> </h4>

	<a id="js-households" href="#">View All Households</a>

	<div id="households">
	</div>

</div>

<footer class="bg-dark">
	<%= link_to "Add a Household", new_household_path %>
</footer>